* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background-color: #f2f2f2;
    color: #2e2e2e;
    font-family: 'Barlow Condensed', Arial, sans-serif
}

h1 {
    font-size: 48px;
}

a {
    color: #2e2e2e;
}

section {
    padding: 1em;
}

footer {
    position: fixed;
    margin-bottom: 1em;
    bottom: 0;
    font-size: 24px;
}

.my-info {
    width: 60%;
}

.content {
    padding: 3em;
}

/* flexbox classes */
#flex-container {
    display: none;
    opacity: 0;
}
